* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  position: relative;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell > img {
  position: relative;
  max-width: 90%;
  max-height: 90%;
}

.black {
  background-color: rgb(76, 48, 3);
}

.white {
  background-color: rgb(160, 160, 160);
}

.selected {
  border: 3px solid lightyellow;
}

.available {
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: lightgreen;
  z-index: 3;
}
.available_figure {
  border: 3px solid red;
}